
<p id="notice"><%= Utility.replace_message( flash[:notice] ) %></p>

<table>
  <tr>
    <th><%= t("room.hash_tag") %></th>
    <th><%= t("room.site") %></th>
    <th><%= t("room.user") %></th>
    <% unless session[:user_id].blank? %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @rooms.each do |room| %>
  <tr class="top_line">
    <td><%= link_to room.hash_tag, room %></td>
    <td><%= link_to room.site, room.site, :target => "_blank" %></td>
    <td align="center"><%= link_to image_tag( room.user.profile_image_url, :size => t("user.profile_size"), :alt => t("user.icon_alt"), :title => "#{room.user.login}／#{room.user.name}" ), "http://twitter.com/#!/#{room.user.login}", :target => "_blank" unless room.user.blank? %></td>
    <% if session[:user_id].present? and session[:user_id].to_s == room.user_id.to_s %>
      <td class="menu"><%= link_to t("menu.edit"), edit_room_path(room) %></td>
      <td class="menu"><%= link_to t("menu.destroy"), room, :confirm => '本当に削除してよろしいですか？', :method => :delete %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
<% end %>

  <tr class="top_line">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<% unless session[:user_id].blank? %>
<br />

<span class="menu">
  <%= link_to t("menu.new"), new_room_path %>
</span>
<% end %>

<br />
<br />
