<!DOCTYPE html>
<html>
<head>
  <title>Roomz</title>
  <%#= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'base' %>
  <%= stylesheet_link_tag 'base_override' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>

<div class="page_box">

<%# ヘッダメニュー %>
<span class="header_menu menu">
  <%# ログイン判定 %>
  <% unless session[:user_id].blank? %>
    <%# ログイン後 %>
    <%= link_to t("menu.logout"), logout_path, :confirm => 'ログアウトしますか？' %>
  <% else %>
    <%# ログイン前 %>
    <%= link_to t("menu.login"), login_path %>
  <% end %>
</span>

<%# タイトル %>
<span id="title">
  <%= link_to t("menu.title"), :root %>
</span>

<br />
<br />

<%= yield %>

</div>

</body>

</html>
